html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
}

.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}

h1 {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
}

h1 span {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FBB731;
}

p {
    margin-bottom: 42px;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 140%;
    color: #DEDEDE;
}

a {
    padding: 20px 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    display: inline-block;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    background: #FBB731;
    border-radius: 5px;
}

img {
    position: absolute;
    width: 829px;
    right: -168px;
}